aiohappyeyeballs
aiohttp
aiosignal
alabaster
annotated-doc
annotated-types
arrow
astroid
asttokens
asyncssh
atomicwrites
attrs
autopep8
babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
blis
cachetools
catalogue
cattrs
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
cloudpickle
colorama
comm
confection
contourpy
cookiecutter
cryptography
curated-tokenizers
curated-transformers
cycler
cymem
debugpy
decorator
defusedxml
diff-match-patch
dill
docstring-to-markdown
docutils
executing
fastjsonschema
filelock
flake8
fonttools
frozenlist
fsspec
gitdb
GitPython
graphviz
hf-xet
huggingface-hub
idna
imagesize
importlib_metadata
inflection
intervaltree
ipykernel
ipython
ipython_pygments_lexers
isort
jaraco.classes
jaraco.context
jaraco.functools
jedi
jellyfish
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keyring
kiwisolver
lsprotocol
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
mistune
more-itertools
mpmath
multidict
murmurhash
mypy_extensions
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
numpy
numpydoc
orjson
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pickleshare
pillow
platformdirs
plotly
pluggy
preshed
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pyarrow
pycodestyle
pycparser
pydantic
pydantic_core
pydeck
pydocstyle
pyflakes
PyGithub
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder
PyNaCl
pyparsing
python-lsp-black
python-lsp-jsonrpc
python-lsp-ruff
python-lsp-server
python-slugify
pytokens
pytoolconfig
pytz
pyuca
PyYAML
pyzmq
qstylizer
referencing
regex
requests
rich
roman-numerals
rope
rpds-py
rtree
ruff
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
smart_open
smmap
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
srsly
stack-data
stqdm
streamlit
sympy
tenacity
text-unidecode
textdistance
thinc
threadpoolctl
three-merge
tinycss2
tokenizers
toml
tomlkit
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
typer-slim
typing-inspection
typing_extensions
tzdata
ujson
urllib3
wasabi
watchdog
wcwidth
weasel
webencodings
whatthepatch
wheel
wrapt
yapf
yarl
zipp
